# Frontend (Vite)
# VITE_DUEL_SERVER_URL=http://localhost:3001
# Exemple production Netlify:
VITE_DUEL_SERVER_URL=https://mememot-duel-server.onrender.com

# Duel server
PORT=3001
# CORS_ORIGIN=http://localhost:5173
# Exemple avec frontend Netlify:
CORS_ORIGIN=https://glyphcode.netlify.app,http://localhost
RECONNECT_GRACE_MS=90000
